 <html>
        <head>
            <title>Mi Sitio</title>
            <link rel="stylesheet" href="css/style.css">

        </head>
            <body>
                <header>
                    <p>Mi sitio</p>
                    <nav>
                        <ul>
                            <li>
                                <a href="/peliculas/crear">Crear Peli</a>
                            </li>
                            <li>
                                <a href="/peliculas">Ver Pelis</a>
                                
                            </li>
                        </ul>

                    </nav>
                </header>
                
     